body {
    background-color: #AF0000;
}

.text-container {
    background-color: #FFFFFF;
}

.navbar {
    background-color: #00008B;
}

.nav-item {
    text-align: center;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
}

/*
a {
	color: red;
	text-decoration: none;
}

a:hover {
	color: blue;
	text-decoration: none;
}
*/
